<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_before">
        <observer name="unifaun_add_consignment" instance="Pcxpress\Unifaun\Observer\addConsignment"/>
    </event>
    <event name="sales_order_custom_shipment_save_before">
        <observer name="unifaun_add_custom_consignment" instance="Pcxpress\Unifaun\Observer\addConsignment"/>
    </event>
    <event name="core_block_abstract_to_html_before">
        <observer name="unifaun_create_consignment_massaction" instance="Pcxpress\Unifaun\Observer\addMassActionInSalesOrders"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="unifaun_create_consignment_label" instance="Pcxpress\Unifaun\Observer\createConsignmentLabels"/>
    </event>
    <event name="catalog_product_prepare_save">
        <observer name="unifaun_prepare_package_configuration" instance="Pcxpress\Unifaun\Observer\setPackageConfiguration"/>
    </event>
</config>
