<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Pcxpress_Unifaun::parent" title="Unifaun" module="Pcxpress_Unifaun" sortOrder="100" resource="Pcxpress_Unifaun::parent"/>
		<add id="Pcxpress_Unifaun::shippingmethod" title="Unifaun Shippingmethod" module="Pcxpress_Unifaun" sortOrder="20" parent="Pcxpress_Unifaun::parent" action="unifaun/shippingmethod" resource="Pcxpress_Unifaun::shippingmethod"/>

    </menu>
</config>