<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Pcexpress_Uni::parent" title="Uni" module="Pcexpress_Uni" sortOrder="100" resource="Pcexpress_Uni::parent"/>
        <add id="Pcexpress_Uni::index" title="Uni Index" module="Pcexpress_Uni" sortOrder="10" action="uni/index" resource="Pcexpress_Uni::index" parent="Pcexpress_Uni::parent"/>
		
    </menu>
</config>