<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pcxpress_unifaun_shippingmethod_listing_data_source" xsi:type="string">Pcxpress\Unifaun\Model\ResourceModel\ShippingMethod\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pcxpress\Unifaun\Model\ResourceModel\ShippingMethod\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">unifaun_shippingmethods</argument>
            <argument name="resourceModel" xsi:type="string">Pcxpress\Unifaun\Model\ResourceModel\ShippingMethod</argument>
        </arguments>
    </virtualType>
</config>
